#viewport {
    font-family: Source Sans Pro;
    padding: 10px;

    label {
        font-family: Open Sans;
        font-weight: 300 !important;
        display: inline-block !important;
        width: 160px;
        vertical-align: top;

        input {
            height: inherit;
        }
    }

    select {
        max-width: 98%;
        height: 30px;
        border: 1px solid #ccc;
        background-color: #fff;
        font-size: 14px;
    }
    
    .btn-group {
        display: inline-block;
        margin: 0 !important;
    }

    button {
        margin: 8px 24px 0 0;
        height: 30px;
        border: 1px outset;
        border-radius: 5px;
        background-color: #f5f5f5;
        color: #555;
        font-size: 14px;
    }

    button:hover {
        background-color: #bfbfbf;
        color: white;
    }

    button#save {
        margin: 0 0 12px 0;
        padding: 2px 10px 4px 10px;
        border: none;
        background-color: #007abf;
        color: white;
    }

    input,
    textarea {
        background-color: #fff;
        border: 1px #ccc;
        border-radius: 3px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border linear .2s, box-shadow linear .2s;
        -moz-transition: border linear .2s, box-shadow linear .2s;
        -o-transition: border linear .2s, box-shadow linear .2s;
        transition: border linear .2s, box-shadow linear .2s;
        display: inline-block;
        min-width: 500px !important;
        height: 30px;
        font-size: 14px;
    }

    textarea {
        height: 200px;
    }

    h3 span {
        font-family: Open Sans;
        font-size: 23px;
        line-height: 24px;
        font-weight: 400;
        display: inline-block;
        width: 160px;
        color: #007abf;
    }

    .well {
        background-color: #f5f5f5;
        padding: 12px;
        margin: 12px 0 0 0;
    }

    div.row-fluid {
        padding: 8px 0;

        h3 span {
            font-family: Open Sans;
            font-size: 23px;
            line-height: 24px;
            margin: 36px 0 0 0;
        }

        .controls {
            display: inline-block;
        }

        .well-small {
            padding: 0;

            h3 span {
                font-size: 16px;
                font-weight: 600;
                color: #5f5f5f;
                margin: 12px 0 0 0;
            }
        }
    }

    div.row-fluid:first-of-type {
        padding: 0;
    }
    
    .well >.well {
        padding: 0;
    }
}