<section id="dashboard">

    <div id="sidebar">
        <div id="thumbnailWrapper" class="connectedSortable">
            <div id="i1" class="thumbnail">Layout Type 01</div>
            <div id="i2" class="thumbnail">Layout Type 02</div>
            <div id="i3" class="thumbnail">Layout Type 03</div>
            <div id="i4" class="thumbnail">Layout Type 04</div>
            <div id="i5" class="thumbnail">Layout Type 05</div>
            <div id="i6" class="thumbnail">Layout Type 06</div>
        </div>
    </div>

    <div id="mainContainer">
        <div id="templateWrapper" class="connectedSortable">

        </div>
    </div>

    <br>
    <br>

    <button id="action">Save</button>


    <h2>JSON</h2>
    <p id="jsonOutput">
        
    </p>
</section>