<section id="dashboard">
    <h2>Choose Longform Type</h2>

    <div id="chooser">
        <div id="standard" class="type"></div>
        <div id="deluxe" class="type"></div>
        <div id="tiles" class="type"></div>
        <div id="soundslides" class="type"></div>

        <div class="clear"></div>
    </div>

</section>