<section id="dashboard">
    <h2>Choose Longform Type</h2>

    <div id="chooser">
        <div class="flip-container">
            <div class="flipper">
                <div class="standard type front"></div>
                <div class="type back">
                    <h3>Standard-Template</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores.</p>
                    <a href="javascript:;" id="standard" class="button">Ausw채hlen</a>
                </div>
            </div>
        </div>

        <div class="flip-container">
            <div class="flipper">
                <div class="deluxe type front"></div>
                <div class="type back">
                    <h3>Deluxe-Template</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores.</p>
                    <a href="javascript:;" id="deluxe" class="button">Ausw채hlen</a>
                </div>
            </div>
        </div>

        <div class="flip-container">
            <div class="flipper">
                <div class="tile type front"></div>
                <div class="type back">
                    <h3>Kacheln-Template</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores.</p>
                    <a href="javascript:;" id="tiles" class="button">Ausw채hlen</a>
                </div>
            </div>
        </div>

        <div class="flip-container">
            <div class="flipper">
                <div class="soundslide type front"></div>
                <div class="type back">
                    <h3>Soundslides-Template</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores.</p>
                    <a href="javascript:;" id="soundslides" class="button">Ausw채hlen</a>
                </div>
            </div>
        </div>
        {{!-- <div class="flip-container">
        <div id="deluxe" class="type"></div>
        <div id="tiles" class="type"></div>
        <div id="soundslides" class="type"></div> --}}
        <div class="clear"></div>
    </div>

</section>