<section id="dashboard">

    <div id="sidebar">
        <div id="thumbnailWrapper" class="connectedSortable">
            <div id="i1" class="thumbnail">Item 1</div>
            <div id="i2" class="thumbnail">Item 2</div>
            <div id="i3" class="thumbnail">Item 3</div>
            <div id="i4" class="thumbnail">Item 4</div>
            <div id="i5" class="thumbnail">Item 5</div>
            <div id="i6" class="thumbnail">Item 6</div>
        </div>
    </div>

    <div id="mainContainer">
        <div id="templateWrapper" class="connectedSortable">

        <div id="prototype" class="templateElement">
            <form method="POST" action="">
                <h2>Titel</h2>
                <input type="text" name="title">
                <h2>Text</h2>
                <textarea name="text" id="" cols="30" rows="10"></textarea>
                <br>
            </form>
        </div>

        <div id="prototype2" class="templateElement">
            <form method="POST" action="">
                <h2>Quotetitel</h2>
                <input type="text" name="title">
                <h2>Text</h2>
                <textarea name="text" id="" cols="30" rows="10"></textarea>
                <h2>Beschreibung</h2>
                <textarea name="description" id="" cols="30" rows="10"></textarea>
                <h2>Slug</h2>
                <input type="text" name="slug">
                <br>
                <input type="radio" name="animationType" value="fade"> Fade<br>
                <input type="radio" name="animationType" value="slideUp"> SlideUp<br>
                <input type="radio" name="animationType" value="slideDown"> slideDown<br>
            </form>
        </div>
    </div>

    <br>
    <br>

    <button id="action">Save</button>


    <h2>JSON</h2>
    <p id="jsonOutput">
        
    </p>
</section>