<header>
    <nav class="navbar-fixed-top">
        <div id="navContainer">
            <div id="logo">
                <a href="http://www.tagesanzeiger.ch" class="brand"></a>
            </div>
            <div class="clear"></div>
        </div>
    </nav>
</header>