<section id="overview">
    <h2>Longform Overview</h2>
    <div class="container">
        <div class="grid">
            <div>
                <div class="image"><a href="javascript:;" id="newLongform">+ Neue Longform</a></div>
            </div>

            {{#each longforms}}
                <div class="longform">
                    <div class="image"><img src="/images/icons/type_icon_standard.png"/></div>
                    <div class="caption">{{title}}</div>
                    <div class="delete"></div>
                </div>    
            {{/each}}
    {{!--         <div>
                <div class="image"><img src="/images/icons/type_icon_standard.png"/></div>
                <div class="caption">Thought-Leaders</div>
            </div>
            <div>
                <div class="image"><img src="/images/icons/type_icon_deluxev2.png"/></div>
                <div class="caption">DJ Moonear</div>
            </div>
            <div>
                <div class="image"><img src="/images/icons/type_icon_standard.png"/></div>
                <div class="caption">Abonnement</div>
            </div>
            <div>
                <div class="image"><img src="/images/icons/type_icon_tiles.png"/></div>
                <div class="caption">Impact Journalism</div>
            </div>
            <div>
                <div class="image"><img src="/images/icons/type_icon_soundslides.png"/></div>
                <div class="caption">Erdmenschen</div>
            </div> --}}
        </div>
    </div>
</section>
