<div id="quote" class="templateElement">
    <form method="POST" action="">
        <h2>Quotetitel</h2>
        <input type="text" name="title">
        <h2>Text</h2>
        <textarea name="text" id="" cols="30" rows="10"></textarea>
        <h2>Beschreibung</h2>
        <textarea name="description" id="" cols="30" rows="10"></textarea>
        <h2>Slug</h2>
        <input type="text" name="slug">
        <br>
        <input type="radio" name="animationType" value="fade"> Fade<br>
        <input type="radio" name="animationType" value="slideUp"> SlideUp<br>
        <input type="radio" name="animationType" value="slideDown"> slideDown<br>
    </form>
</div>