<section id="sections">
    <h2>Longform Sections</h2>

    <div class="sortableSections">
        {{#each sections}}
            {{> section}}
        {{/each}}
    </div>

    <div id="test" style="display: none;">Iafsjioajfsa</div>

    <div class="center">
        <a href="#layout" id="new">+ New Section</a>
    </div>

    <div style="display:none;">
        <div id="layout">
            <h2>Choose a layout</h2>
                <img src="/images/icons/type_icon_deluxe.png"/>
            </div>
            <div class="fischi">
                <img src="/images/icons/type_icon_deluxe.png"/>
            </div>
            <div class="fischi">
                <img src="/images/icons/type_icon_deluxe.png"/>
            </div>
            <div class="fischi">
                <img src="/images/icons/type_icon_deluxe.png"/>
            </div>
            <div class="fischi">
                <img src="/images/icons/type_icon_deluxe.png"/>
            </div>
            <div class="fischi">
                <img src="/images/icons/type_icon_deluxe.png"/>
            </div>
        </div>
    </div>
</section>