<section class="textWithQuote">
    <div class="grid grid-pad">
        {{#with quote}}
            <div class="textElement {{quote_width}} {{quote_position}}" data-center-top=" opacity: 0.2;" data-center-bottom="transition: ease-in; transition-duration: 2s; opacity: 1;">
                <p class="quote">
                    {{quote}}
                </p>
            </div>
        {{/with}}
    </div>
</section> 